body {
    background: rgb(42, 95, 241);
    font: normal 16pt Arial;
}

header {
    background: rgb(57, 113, 245);
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    /*max-height: 500px;*/
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.705);
}

footer {
    color: wheat;
    text-align: center;
    font-style: italic;
}

#number {
    width: 300px;
}